<div class="page-header">
  <%= link_to product_catalogs_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_product_catalog_path(@product_catalog), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show product_catalog</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product_catalog.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product_catalog.description %></dd>

  <dt>Released on:</dt>
  <dd><%= @product_catalog.released_on %></dd>

</dl>
