<%= form_for(@price_schema) do |f| %>
  <% if @price_schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_schema.errors.count, "error") %> prohibited this price_schema from being saved:</h2>

      <ul>
      <% @price_schema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
