<div class="page-header">
  <%= link_to new_price_schema_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Price schema
  <% end %>
  <h1>Listing price_schemas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Price</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @price_schemas) do |price_schema| %>
            <td><%= price_schema.quantity %></td>
            <td><%= price_schema.unit %></td>
            <td><%= price_schema.price %></td>
            <td><%= link_to 'Show', price_schema %></td>
        <td><%= link_to 'Edit', edit_price_schema_path(price_schema) %></td>
        <td><%= link_to 'Destroy', price_schema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
