<div class="page-header">
  <%= link_to new_admin_article_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Article
  <% end %>
  <h1>Listing articles</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Content</th>
            <th>Published on</th>
            <th>Is published</th>
            <th>Approved by</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @articles) do |article| %>
            <td><%= article.name %></td>
            <td><%= article.slug %></td>
            <td><%= article.content %></td>
            <td><%= article.published_on %></td>
            <td><%= article.is_published %></td>
            <td><%= article.approved_by %></td>
            <td><%= link_to 'Show', [:admin,article] %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
        <td><%= link_to 'Destroy', [:admin,article], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
