<div class="page-header">
  <%= link_to admin_articles_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_article_path(@article), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show article</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @article.name %></dd>

  <dt>Content:</dt>
  <dd><%= @article.content %></dd>

  <dt>Published on:</dt>
  <dd><%= @article.published_on %></dd>

  <dt>Is published:</dt>
  <dd><%= @article.is_published %></dd>

  <dt>Approved by:</dt>
  <dd><%= @article.approved_by %></dd>

</dl>
