<div class="page-header">
  <%= link_to new_newsinfo_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Newsinfo
  <% end %>
  <h1>Listing newsinfos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Published on</th>
            <th>Is published</th>
            <th>Approved by</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @newsinfos) do |newsinfo| %>
            <td><%= newsinfo.name %></td>
            <td><%= newsinfo.content %></td>
            <td><%= newsinfo.published_on %></td>
            <td><%= newsinfo.is_published %></td>
            <td><%= newsinfo.approved_by %></td>
            <td><%= link_to 'Show', newsinfo %></td>
        <td><%= link_to 'Edit', edit_newsinfo_path(newsinfo) %></td>
        <td><%= link_to 'Destroy', newsinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
