<h1>Listing photo_products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_products.each do |photo_product| %>
      <tr>
        <td><%= photo_product.name %></td>
        <td><%= link_to 'Show', photo_product %></td>
        <td><%= link_to 'Edit', edit_photo_product_path(photo_product) %></td>
        <td><%= link_to 'Destroy', photo_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo product', new_photo_product_path %>
